<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">

  <!-- -------------------Custom Tabs with fab button------------------------------- -->
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button routerLink="/tabs/add-post">
      <ion-icon name="add-outline"></ion-icon>
      <!-- <ion-icon name="add-circle" color="primary"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon [name]="selectTab == 'search' ? 'search' : 'search-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button tab="wishlist">
      <ion-icon [name]="selectTab == 'wishlist' ? 'heart' : 'heart-outline'"></ion-icon>
      <ion-badge color="danger"></ion-badge>
      <!-- <ion-badge color="danger">1</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon [name]="selectTab == 'profile' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>